Source: debian-generator
Section: unknown
Priority: optional
Maintainer: gilbr <gilbr@phenom>
Build-Depends: debhelper (>= 9)
Suggests: expect
Standards-Version: 4.5.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/debian-generator
#Vcs-Git: https://salsa.debian.org/debian/debian-generator.git
Rules-Requires-Root: no

Package: debian-generator
Architecture: any
Depends: ${misc:Depends}, apt-utils, binfmt-support, binutils, binutils-aarch64-linux-gnu, binutils-arm-linux-gnueabi, coreutils, debootstrap, dosfstools, e2fsprogs, kpartx, parted, python3, qemu-system-arm, qemu-user-static (>=1:5.0.4), rsync, squashfs-tools
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
