# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install devscripts
        run: |
          sudo apt update
          sudo apt -y install devscripts debhelper

      - name: Test build debian package
        run: debuild -b -us -uc

      - name: Install package (stage 1)
        continue-on-error: true
        run: sudo dpkg -i ../debootstrapmgr_$(dpkg-parsechangelog -l debian/changelog -S Version)_$(dpkg --print-architecture).deb || true

      - name: Install package (stage 2)
        run: sudo apt -f -y install
        env:
          DEBIAN_FRONTEND: noninteractive

      - name: Generate chroot
        run: sudo debootstrapmgr pc-debootstrap -d ./test_chroot

      - name: Generate image
        run: sudo debootstrapmgr pc-chroot-flash -s ./test_chroot -d ./test_chroot.img
